      
        /* p{color:rgb(237, 234, 234);

        } */
        .pp{
            color: blue;
        }
        #hesham{
            color: rgb(228, 0, 228); /* هنا الاولويه ل id */
        }
        h1 + p{
            color: rgba(161, 160, 198,0.5);
        }
        h1 p{
            color: rgba(255, 0, 0);
        }
        div > button{
            color: blueviolet;
        }
        .asd1.asd2{
            color:#552244;
        }
        .para{
            /* direction: rtl; */
            direction: ltr;
        }
        img{
            vertical-align:auto;
        }
        .inline{
            text-decoration: none;
        }
        .inlin{
            text-decoration: line-through;
        }
        
        a:hover{
            color:black;
        }
        a:active{
            color:red;
        }
       
        /* a:visited{
            color:rgb(29, 237, 22);
        } */
        .space{
            text-indent: 10%;
            text-transform: uppercase;
            word-spacing: 100%;
            letter-spacing: 11%;
            text-shadow: 10px,10px,10px,10px;
        }
        .shadow{
            text-shadow: 5px 2px 7px red;
            color: #ffff;
        }
        .heshama{
            background-color: bisque;
        }
        .shama{
            background-image: url("../images/images.jpeg");
            color: azure;
            height: 200px;
            background-repeat: no-repeat;
            background-size: fixed;
            background-size: cover;
            background-size: contain;

        }
        
        .inl{
         
           
            text-decoration-line: underline;
            text-decoration-style: dotted;
        }